<div class="container" style="max-width: 1100px">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Навание</th>
        <th scope="col">Описание претензии</th>
        <th scope="col">Причина обращения</th>
        <th scope="col">Примерная дата происшествия</th>
        <th scope="col">Симптомы отравления</th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= claim.title %></td>
          <td><%= claim.description %></td>
          <td><%= claim.reason %></td>
          <td><%= claim.state %></td>
          <td><%= claim.symptoms %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/claims/new" class="btn btn-primary">add</a>
</div>
