<div class="container-sm" style="max-width: 700px">
  <h3 class="mb-3">Создать заявку для обхода предприятий</h3>
  <%= form_for @order do |f| %>
    <div class="form-group">
      <label class="mb-2">Организации для обхода</label>
      <%= f.collection_check_boxes :company_ids, @companies, :id, :name, { label: false } do |cb| %>
        <div class="form-check">
          <label class="form-check-label" for="<%= cb.value %>">
            <%= cb.object.name %>, <small class="text-muted"><%= cb.object.activity_type %></small>, <%= cb.object.address.split(', ')[2..-1]&.join(', ') if cb.object.address.present? %>
            <% if cb.object.okveds.first.dangerous && cb.object.clame_counter > 0 %>
              <div style="color: #bf0628"> Требует проверки </div>
            <% elsif cb.object.okveds.first.dangerous || cb.object.clame_counter > 0 %>
              <div style="color: #bf6606"> Потенциально опасна </div>
            <% end %>
          </label>
          <%= cb.check_box(class: 'form-check-input', id: cb.value) %>
        </div>
      <% end %>
    </div>
    <div class="form-group mt-3">
      <label for="dateInput1">Дата выезда</label>
      <%= f.date_field :date, class: 'form-control', id: 'dateInput1' %>
    </div>
    <div class="form-group mt-3">
      <label for="commentInput1">Комментарий</label>
      <%= f.text_area :comment, class: 'form-control', id: 'commentInput1' %>
    </div>
    <%= f.submit 'Сохранить заявку', class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
