<div class="container-sm" style="max-width: 700px">
  <h3 class="mb-3">Заявка для обхода предприятий</h3>
  <div class="form-group">
    <label class="mb-2">Организации для обхода</label>
    <% @order.companies.each do |company| %>
      <p>Название: <%= company.name %></p>
      <p><%= company.activity_type %></p>
      <p>Описание: <%= company.description %></p>
      <p>Телефон: <%= company.phone %></p>
      <p>Адресс: <%= company.address %></p>
    <% end %>
  </div>
  <div class="form-group mt-3">
    <label for="dateInput1">Дата выезда</label>
    <p><%= @order.date %></p>
  </div>
  <div class="form-group mt-3">
    <label for="commentInput1">Комментарий</label>
    <p><%= @order.comment %></p>
  </div>
</div>