<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eco Step</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'bootstrap-icons' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'theme', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div id="bg"></div>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span>eco</span>Step</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              Домой
            <% end %>
          </li>
          <li class="dropdown"><a href="#"><span>Гражданам</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <%= link_to new_claim_path, class: "nav-link" do %>
                  Подать жалобу
                <% end %>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Инспектору</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <%= link_to search_companies_orders_path, class: "nav-link" do %>
                  Поиск плохих организаций
                <% end %>
              </li>
              <li>
                <%= link_to orders_path, class: "nav-link" do %>
                  Список заявок
                <% end %>
              </li>
              <li>
                <%= link_to companies_path, class: "nav-link" do %>
                  Список организаций
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>

  <div class="spacer container">
    <br /> <br />
  </div>

  <div class="container mt-5 position-relative">
    <%= yield %>
  </div>
</body>
</html>